@use "./components/btn";
@use "./components/cards";
@use "./pages/index";
@use "./pages/settings";
@use "./abstract/mixin";
@use "./pages/game";

@font-face {
  font-family: "red_rose";
  src: url("/fonts/red_Rose/RedRose-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "kleeOne";
  src: url("/fonts/Klee_One/KleeOne-Regular.ttf") format("truetype");
}

body {
  height: 100vh;
  margin: 0;
}
